body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #0c0046;
}
h1 {
  text-align: center;
  color: #0c0046;
}

h2 {
  text-align: center;
  margin-top: 40px;
  color: #0c0046;
}

p {
  text-align: center;
  padding: 0 20px;
}

.sobre {
  max-width: 800px;
  font-size: 16px;
  text-align: center;
  color: #000046;
}

.fotos-funcionarios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 40px auto;
}

.fotos-funcionarios img {
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.dev-section {
  text-align: center;
  margin: 60px auto 100px;
}

.dev-section h3 {
  margin-bottom: 20px;
  color: #000046;
}

.dev-section .devs {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.dev-section .devs img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #000046;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.dev-section .names {
  margin-top: 20px;
  font-weight: bold;
  color: #000046;
}

.texto {
  font-family: 'Georgia', serif;
  color: #5c5c5c;
  max-width: 1000px;
  margin: 20px auto 60px;
  text-align: center;
  padding: 0 20px;
}

@media screen and (max-width: 600px) {
  .timeline-event {
    margin: 0 10px;
  }

  .fotos-funcionarios img {
    width: 90%;
  }

  .dev-section .devs {
    flex-direction: column;
    align-items: center;
  }
}
