.hero-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px 100px;
  flex-wrap: wrap;
  gap: 40px;
}

.hero-texto {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-texto h1 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #140240;
  margin-bottom: 10px;
}

.hero-texto p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 40px;
}

.hero-imagem img {
  width: 500px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.animacao img {
  width: 100px;
  animation: pulo 2.5s ease-in-out infinite;
}

.animacao img {
  width: 100px;
  transform: rotate(90deg);
  animation: pulo 1s ease-in-out infinite;
}

/* Animação */
@keyframes pulo {
  0%, 100% {
    transform: rotate(90deg) translateY(0);
  }
  50% {
    transform: rotate(90deg) translateY(-15px);
  }
}