#missao {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
  }  
  
  #missao h2 {
    font-size: 32px;
    color: #0c0046;
    margin-bottom: 20px;
  }
  
  .texto-missao {
    font-size: 18px;
    margin-bottom: 30px;
    color: #333;

  }
  
  .palavras-chave {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .tag {
    background-color:  #f9f9f9;;;
    color: #0c0046;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #150050;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tag:hover {
    background-color: #0c0046;
    color: #f9f9f9;;;
    border-color: #150050;
  }
  
  #visao-valores {
    padding: 60px 20px;
    font-family: 'Segoe UI', sans-serif;

  }
  
  .container-visao-valores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1300px;
    margin: 0 auto;
  }
  
  .bloco-visao,
  .bloco-valores {
    flex: 1 1 500px;
    min-width: 300px;
  }
  
  .bloco-visao h2,
  .bloco-valores h2 {
    font-size: 28px;
    color: #150050;
    margin-bottom: 20px;
  }
  
  .caixa-grande {
    background-color: #f9f9f9;
    border: 2px solid #f0efef;
    border-radius: 16px;
    padding: 28px 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 24px;
    
  }
  
  .caixa-grande h3 {
    font-size: 20px;
    color: #150050;
    margin-bottom: 10px;
  }
  
  .caixa-grande p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
  }
  
  .caixa-grande:hover {
    background-color: #150050;
    color: #fff;
    border-color: #150050;
  }
  
  .caixa-grande:hover h3,
  .caixa-grande:hover p {
    color: #fff;
  }
  
  .lista-valores {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .lista-valores li {
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
    color: #150050;
  }
  
  .lista-valores li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #150050;
    font-weight: bold;
  }
  