body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #0c0046;
  }
  
  header {
    background-color: #0c0046;
    color: white;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; 
    flex-wrap: nowrap;
   
  }
  .logo {
    height: 120px;
  }
  
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.menu a:hover {
  color: #6600ff;
}

  
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }
  
    nav a {
      display: block;
      margin: 10px 0;
    }
  }
  